*{
    margin: 0%;
    padding: 0%;
    border:  1px solid blue;  
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.599), rgba(0, 0, 0, 0.817)), 
    url(/imagem/—Pngtree—young\ green\ plants\ sprouting\ from_16381149.png);                  
    background-size: cover;         
    background-position: center;              
    height: 100vh; 

}

.categoria{
    width: 90%;
    height: 95vh;
    background-color: rgba(0, 0, 0, 0.697);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
    
}
#acidez{
    width: 90%;
    height: 120vh;
    /* border: 1px solid red; */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    overflow-y:scroll ;
    display: none;
    
}
.card-a{
    color: white;
    margin-top: -12.5%;
    margin-left: 50%;
    width: 40%;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    height: 20vh;
}
.titulo{
    color: white;
    font-size: 60px;
    font-family:  'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
}

#plantil{
    width: 90%;
    height: 120vh;
    /* border: 1px solid red; */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    overflow-y:scroll ;
    display: none;
    
    
}
.card0{
    color: white;
    margin-top: 40px;
    margin-left: 5%;
    width: 40%;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    height: 20vh;
    margin-bottom: 15px;
    
}
.card1{
    color: white;
    margin-top: 50px;
    margin-left: 120px;
    width: 35%;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    height: 20vh;
}
.card2{
    color: white;
    margin-top: 70px;
    margin-left: 50%;
    width: 40%;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    height: 20vh;
}
.card3{
    color: white;
    margin-top: -12.5%;
    margin-left: 50%;
    width: 40%;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    height: 20vh;
}
.card4{
    color: white;
    margin-top: 10%;
    margin-left: 10%;
    width: 35%;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    height: 30vh;
}
.card5{
    color: white;
    margin-top: -18.5%;
    margin-left: 53%;
    width: 35%;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    height: 30vh;
    margin-bottom: 15px;
}
.card6{
    color: white;
    margin-left: 10%; 
    width: 35%;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    height: 30vh;
    margin-bottom: 15px;
}

.estru_inputs{
    border:  1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
}

#chuva{
    width: 60%;
    height: 40px;
    outline: none;    /* serve para remover o border do input */
    text-align: center;
    border: 0;
    border-bottom: 4px solid rgba(0, 0, 0, 0.645);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.162);
}
#temperatura{
    width: 60%;
    height: 40px;
    outline: none;    /* serve para remover o border do input */
    text-align: center;
    border: 0;
    border-bottom: 4px solid rgba(0, 0, 0, 0.645);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.162);
}
#area{
    width: 60%;
    height: 40px;
    outline: none;    /* serve para remover o border do input */
    text-align: center;
    border: 0;
    border-bottom: 4px solid rgba(0, 0, 0, 0.645);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.162);
}
#solo, #plantas, #deseja{
    background-color: rgb(0, 0, 0);
    color: aqua;
    
}

.bot{
    width: 30%;
    height: 7vh;
    background-color: rgba(1, 65, 1, 0.797);
    color: white;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    font-size: 25px;
    font-weight: bold;
    margin-left: 35%;
    margin-top: 5%;
    margin-bottom: 25px;
}